header{
    background-color: darkslateblue;
    width: 1250px;
    height: 400px;
}



footer{
    float: left;
    display: flex;
    background-color: darkslateblue;
    color: aliceblue;
    
}
footer img{
     width: 40%;
     margin-left: 20px;
    
}
h3{
    margin-left: 20px;
}



h1{
    text-align: center;
    padding-top: 150px;
    font-size: 50px;
}
h2{
    margin-left: 50px;
}




main p{
    margin-left: 50px;
    margin-right: 50px;
}
main img{
    width: 1150px;
    height: 400px;
    margin-left: 50px;

}
footer div button{
    margin-left: 20px;
}
footer div p{
    margin-left: 20px;
    border-radius: 20px;
}
footer div button{
    border-radius: 25px;
    height: 2em;
    width: 5em;
}

footer div:first-child h3{
color: rgb(146, 95, 255);
}

footer div:last-child h3{
    color: rgb(255, 117, 202);
}
